modules = ["nodejs-18", "web"]
run = "npm install && npm run start"

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "build"
build = ["sh", "-c", "npm run build"]

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081

[workflows]
runButton = "Run React App"

[[workflows.workflow]]
name = "Run"
author = 37304926

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm start"

[[workflows.workflow]]
name = "Run React App"
author = 37304926

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"
